<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>J2EEProject</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
 <description></description>
 <display-name>MAinfo</display-name>
 <servlet-name>MAinfo</servlet-name>
 <servlet-class>MAinfo</servlet-class>
 </servlet>
   <servlet>
 <description></description>
 <display-name>LoginServlet</display-name>
 <servlet-name>LoginServlet</servlet-name>
 <servlet-class>LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>MAinfo</servlet-name>
 <url-pattern>/MAinfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 <servlet-name>LoginServlet</servlet-name>
 <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
    <servlet>
 <description></description>
 <display-name>MEview</display-name>
 <servlet-name>MEview</servlet-name>
 <servlet-class>MEview</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>MEview</servlet-name>
 <url-pattern>/MEview</url-pattern>
 </servlet-mapping>
  <servlet>
 <description></description>
 <display-name>MEas</display-name>
 <servlet-name>MEas</servlet-name>
 <servlet-class>MEas</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>MEas</servlet-name>
 <url-pattern>/MEas</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>MEedit</display-name>
 <servlet-name>MEedit</servlet-name>
 <servlet-class>MEedit</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>MEedit</servlet-name>
 <url-pattern>/MEedit</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>MEdelete</display-name>
 <servlet-name>MEdelete</servlet-name>
 <servlet-class>MEdelete</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>MEdelete</servlet-name>
 <url-pattern>/MEdelete</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>EAinfo</display-name>
 <servlet-name>EAinfo</servlet-name>
 <servlet-class>EAinfo</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>EAinfo</servlet-name>
 <url-pattern>/EAinfo</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>ECview</display-name>
 <servlet-name>ECview</servlet-name>
 <servlet-class>ECview</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ECview</servlet-name>
 <url-pattern>/ECview</url-pattern>
 </servlet-mapping>
  <servlet>
 <description></description>
 <display-name>ECedit</display-name>
 <servlet-name>ECedit</servlet-name>
 <servlet-class>ECedit</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ECedit</servlet-name>
 <url-pattern>/ECedit</url-pattern>
 </servlet-mapping>
   <servlet>
 <description></description>
 <display-name>ECas</display-name>
 <servlet-name>ECas</servlet-name>
 <servlet-class>ECas</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ECas</servlet-name>
 <url-pattern>/ECas</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>ECdelete</display-name>
 <servlet-name>ECdelete</servlet-name>
 <servlet-class>ECdelete</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ECdelete</servlet-name>
 <url-pattern>/ECdelete</url-pattern>
 </servlet-mapping>
  <servlet>
 <description></description>
 <display-name>OrdersServlet</display-name>
 <servlet-name>OrdersServlet</servlet-name>
 <servlet-class>OrdersServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>OrdersServlet</servlet-name>
 <url-pattern>/OrdersServlet</url-pattern>
 </servlet-mapping>
  <servlet>
 <description></description>
 <display-name>StocksServlet</display-name>
 <servlet-name>StocksServlet</servlet-name>
 <servlet-class>StocksServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>StocksServlet</servlet-name>
 <url-pattern>/StocksServlet</url-pattern>
 </servlet-mapping>
  <servlet>
 <description></description>
 <display-name>CAinfo</display-name>
 <servlet-name>CAinfo</servlet-name>
 <servlet-class>CAinfo</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CAinfo</servlet-name>
 <url-pattern>/CAinfo</url-pattern>
 </servlet-mapping>
</web-app>
